div[class^="cover--"],
%cover-base {
  @include vendor(background-size, cover);
  @include vendor(background-attachment, fixed);
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.cover__header {
  left: 0;
  right: 0;
  margin: 0;
  margin-top: 20vh;
  h1 {
    font-size: 7rem;
    @include media-query(palm) {
      font-size: 4rem;
    }
  }
}

%cover-background {
  position: fixed;
  z-index: -10;
}

.cover--explorer {
  background-image: url('../img/explorer.jpg');
  @extend %cover-base;
  @extend %cover-background;
}

.cover--blue-door {
  background-image: url('../img/blue_door.jpg');
  @include media-query(lap) {
    background-position-x: -50px;
  };
  @include media-query(palm) {
    background-position-x: -100px;
  };
}

.cover--bridge {
  background-image: url('../img/ggb.jpg');
  @extend %cover-base;
  @extend %cover-background;
}

/******** generic background classes ********/

.bg--color-blue {
  background-color: $blue;
}

.bg--color-red {
  background-color: $red;
}

.bg--color-opaque {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg--color-opaque--white {
  background-color: rgba(white, 0.3);
}

.bg--color-white {
  background-color: white;
}
