div[class^="cover--"],
%cover-base {
  @include vendor(background-size, cover);
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.cover__header {
  margin-top: 30vh;
  @extend .bg--color-opaque--white-7;
  @include vendor(transition, position 1s ease);

  h1 {
    font-size: 7rem;
    @include media-query(palm) {
      font-size: 4rem;
    }
  }

  &.fixed {
    margin-top: 0;
    @extend .bg--color-white;

    h1 {
      font-size: 2rem;
    }
    div {
      display: inline-block;
    }
  }
}

.cover__subheader {
  @extend .text--large;
  &.fixed {
      font-size: 1rem;
  }
}

%cover-background {
  position: fixed;
  z-index: -10;
}

.cover--explorer {
  background-image: url('../img/explorer.jpg');
  @extend %cover-base;
  @extend %cover-background;
}

.cover--blue-door {
  background-image: url('../img/blue_door.jpg');
}

.cover--bridge {
  background-image: url('../img/ggb.jpg');
  @extend %cover-base;
  @extend %cover-background;
}

/******** generic background classes ********/

.bg--color-blue {
  background-color: $blue;
}

.bg--color-red {
  background-color: $red;
}

.bg--color-opaque {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg--color-opaque--white-5 {
  background-color: rgba(white, 0.5);
}

.bg--color-opaque--white-7 {
  background-color: rgba(white, 0.7);
}

.bg--color-white {
  background-color: white;
}
