@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icons/icomoon.eot?u2dyxl');
    src: url('../fonts/icons/icomoon.eot?u2dyxl#iefix') format('embedded-opentype'),
         url('../fonts/icons/icomoon.ttf?u2dyxl') format('truetype'),
         url('../fonts/icons/icomoon.woff?u2dyxl') format('woff'),
         url('../fonts/icons/icomoon.svg?u2dyxl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-github:before {
    content: "\e903";
}
.icon-linkedin:before {
    content: "\e904";
}
.icon-tumblr:before {
    content: "\e905";
}
.icon-medium:before {
    content: "\e906";
}
