$light: #FFF1CE; // R: 255 G: 241 B: 206
$orange: #FF9311;
$red: #D64700;
$blue: #17607D;
$dark-blue: #002A4A;

$black: black;
$grey: #AFAFAF;

$text--color-white: white;
$text--color-light: $light;
$text--color-blue: $blue;
$text--color-dark-blue: $dark-blue;
$text--link-light: #CEDFFF;
$link--light-hover: rgba(206, 223, 206, 0.5);
