.text--center {
  text-align: center !important;
}

.text--right {
  text-align: right !important;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--color-light {
  color: $text--color-light;
}

.text--color-blue {
  color: $text--color-blue;
}

.text--color-white {
  color: $text--color-white;
}

.text--color-dark-blue {
  color: $text--color-dark-blue;
}

.text--hint {
  color: $grey;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text--medium {
  font-size: 1.5rem;
  @include media-query(portable) {
    font-size: 1.25rem;
  };
}

.text--large {
  font-size: 3rem;
  @include media-query(portable) {
    font-size: 2rem;
  };
}

.text--normal--narrow {
  @include media-query(narrow) {
    font-size: 1rem;
  };
}

.text--huge {
  font-size: 5rem;
}

.text--style-normal {
  font-family: 'JosefinSans';
  font-weight: 400;
}

.text--style-header {
  font-family: $header-font-family;
  font-weight: 400;
}

.text--heavy {
  font-weight: 600;
}

.link--color-light {
  color: $text--link-light;
  &:hover {
    color: $link--light-hover;
  }
}

.link--color-black {
  color: $black;
  &:hover {
    color: lighten($black, 40%);
  }
}
