html,
body {
  font-family: 'JosefinSans', Times, serif;
  font-weight: 500;
  font-size: 16px;
}
body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', Arial, serif;
  font-weight: 400;
}

.section {
  max-width: 1100px;
  margin: 0 auto;
}
