.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.ib {
  display: inline-block;;
}

.inline {
  display: inline;
}

.ib--desk {
  @include media-query(desk) {
    display: inline-block;
  }
}

.inline--desk {
  @include media-query(desk) {
    display: inline;
  }
}

.full-page {
  width: 100vw;
  height: 100vh;
}

.half-page {
  width: 100vw;
  height: 50vh;
}

.vertical-center {
  // in _helpers.mixin.scss
  @include vertical-align;
}

.page--center--left {
  @extend .vertical-center;
  left: 0;
}

.page--center {
  @extend .vertical-center;
  left: 25%;
}

.page--center--portable {
  @extend .page--center;
  @include media-query(portable) {
    left: 0;
  }
}
