div[class^="cover--"] {
  @include vendor(background-size, cover);
  height: 100vh;
}
.cover__header {
  left: 0;
  right: 0;
  margin: 25vmin;
  @include media-query(palm) {
    margin: 15vmin
  }
  h1 {
    font-size: 5rem;
    @include media-query(lap) {
      font-size: 3rem;
    };
    @include media-query(palm) {
      font-size: 2rem;
    };
  }
}

.cover--explorer {
  background-image: url('assets/images/explorer.jpg');
  position: fixed;
  z-index: -10;
}

.cover--blue-door {
  background-image: url('assets/images/blue_door.jpg');
  position: fixed;
  z-index: -10;
}

/******** generic background classes ********/

.bg--color-blue {
  background-color: $blue;
}

.bg--color-red {
  background-color: $red;
}

.bg--color-opaque {
  background-color: rgba(0, 0, 0, 0.3);
}
