div[class^="cover--"] {
  @include vendor(background-size, cover);
  height: 100vh;
}

.cover--fish {
  background-image: url('assets/images/fish.png');
  @include media-query(palm) {
    background-position: -100px;
  }
}

.cover--foggy-northface {
  background-image: url('assets/images/foggy_northface.png');
  background-repeat: no-repeat;
  margin-top: -180px;
  padding-top: 180px;
  h1 {
    font-size: 4rem;
  }
  @media (max-width: 1150px) {
    background-position-x: -200px;
  }
  @include media-query(lap) {
    background-position-x: -350px;
  }
  @include media-query(palm) {
    background-position-x: -600px;
    h1 {
      font-size: 3rem;
    }
  }
  @include media-query(narrow) {
    background-position-x: -700px;
  }
}

.bg--color-blue {
  background-color: $blue;
}
