.text--center {
  text-align: center !important;
}

.text--color--light {
  color: $text--color-white;
}

.text--large {
  font-size: 3rem;
  @include media-query(portable) {
    font-size: 2rem;
  };
}

.text--huge {
  font--size: 5rem;
}
