div[class^="cover--"] {
  @include vendor(background-size, cover);
  height: 100vh;
}

.cover--fish {
  background-image: url('assets/images/fish.png');
  @include media-query(palm) {
    background-position: -100px;
  }
}

.cover--foggy-northface {
  background-image: url('assets/images/foggy_northface.png');
  background-repeat: no-repeat;
  margin-top: -180px;
  padding-top: 180px;
  h1 {
    font-size: 4rem;
  }
  @media (max-width: 1900px) {
    background-position-x: -100px;
  }
  @media (max-width: 1700px) {
    background-position-x: -200px;
  }
  @media (max-width: 1500px) {
    background-position-x: -300px;
  }
  @media (max-width: 1300px) {
    background-position-x: -400px;
  }
  @media (max-width: 1100px) {
    background-position-x: -500px;
  }
  @media (max-width: 1100px) {
    background-position-x: -800px;
  }
  @include media-query(palm) {
    background-position-x: -1000px;
  }
}

/******** generic background classes ********/

.bg--color-blue {
  background-color: $blue;
}

.bg--color-red {
  background-color: $red;
}
