.relative {
  position: relative;
}

.ib {
  display: inline-block;;
}

.inline {
  display: inline;
}

.ib--desk {
  @include media-query(desk) {
    display: inline-block;
  }
}

.inline--desk {
  @include media-query(desk) {
    display: inline;
  }
}

.full-page {
  min-height: 750px;
}

%vertical-center {
  @include vertical-align;
}

.page-center {
  @extend %vertical-center;
  left: 25%;
}
