div[class^="cover--"] {
  background-size: cover;
  height: 800px;
  @include media-query(palm) {
  }
}

.cover--foggy-northface {
  background-image: url('assets/images/foggy_northface.png');
  h1 {
    font-size: 6rem;
  }
  @include media-query(lap) {
    height: 600px;
    background-position: -130px;
    h1 {
      font-size: 4rem;
    }
  }
  @include media-query(palm) {
    background-position: -250px;
    h1 {
      font-size: 3rem;
    }
  }
}
