$light: #FFF1CE;
$orange: #FF9311;
$red: #D64700;
$blue: #17607D;
$dark-blue: #002A4A;


$text--color-white: white;
$text--color-light: $light;
$text--color-blue: $blue;
$text--color-dark-blue: $dark-blue;
