.text--center {
  text-align: center !important;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--color-light {
  color: $text--color-light;
}

.text--color-blue {
  color: $text--color-blue;
}

.text--color-dark-blue {
  color: $text--color-dark-blue;
}


.text--medium {
  font-size: 1.5rem;
}

.text--large {
  font-size: 3rem;
  @include media-query(portable) {
    font-size: 2rem;
  };
}

.text--normal--narrow {
  @include media-query(narrow) {
    font-size: 1rem;
  };
}

.text--huge {
  font-size: 5rem;
}

.text--style-normal {
  font-family: 'Cocomat';
  font-weight: 500;
}

.text--style-header {
  font-family: 'Lobster';
  font-weight: 400;
}
